body {
	font-family: 'Ubuntu', sans-serif;
}

nav a{
	color: white;
}


.headerContacts a{
	color: white;
	text-decoration: none;
}

.masthead {
	text-align: center;
	color: #fff;
	background: linear-gradient(0deg, rgba(62, 182, 80, 0.4), rgba(252, 193, 51, 0.3)), url('../img/hero.jpeg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: space-around;*/
	height: 100vh;
}

.logo {
/*	margin-top: 15vh;*/
}

.logo img{
	max-width: 100vw;
	/*width: 100%;*/
	max-height: 20vh;
}

.animation {
	cursor: pointer;
  font-size: 10vh;
  color: white;
  opacity: .7;
  position: absolute;
  bottom: 0;
  -webkit-animation: animation 2s linear infinite;
  animation: animation 2s linear infinite;
}

@-webkit-keyframes animation {
  0% { color: rgba(255, 255, 255, 1); }
  50% { color: rgba(255, 255, 255, .6); }
  100% { color: rgba(255, 255, 255, 1); }
}
@keyframes animation {
  0% { color: rgba(255, 255, 255, 1); }
  50% { color: rgba(255, 255, 255, .6); }
  100% { color: rgba(255, 255, 255, 1); }
}

.card {
  height: 100%;
}

.bicon{
  font-size: 50px;
  color: rgba(62, 182, 80, 0.6);
}

.brendGreen {
	font-weight: bold;
	color: #1de099cc;
}

.navbar {
	background-color: rgba(62, 182, 80, 0.75);
	color: white;
	font-weight: bold;
	box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.nav-links{
	color: rgba(255,255,255,1);
}

.footer {
	background-color: rgba(62, 182, 80, 0.75);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255,255,255,1);
  	text-shadow: 0 0 2em rgba(252, 193, 51, 1);
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

footer .list-inline {
	margin: 10px 0;
	padding: 0;
}

main .container-fluid-margins {
	min-height: 50vh;
}

main .container-fluid-margins .container {
	margin-top: 72px;
	margin-bottom: 32px;
}

.container-bg-1 {
	background-color: rgba(62, 182, 80, 0.1);
	background: transparent;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/bgi_01.jpg')
 0 0 no-repeat fixed;
}

.container-bg-2 {
	background-color: rgba(62, 182, 80, 0.1);
	background: transparent;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/bgi_02.jpg')
 0 0 no-repeat fixed;
}

#bodyGoods .col-md-3:before {

	content: "∘";
	color: #bd2130;
}

iframe {
	height: 100%;
	width: 100%;
}

.tdn {
	text-decoration: none;
}